<a href="https://colab.research.google.com/github/alfinmaulani/skripsi/blob/master/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import io

#dari github
url = 'https://raw.githubusercontent.com/alfinmaulani/skripsi/master/dataISEAR.csv'
df = pd.read_csv(url)

In [ ]:
df.head()

     emosi                                            dokumen  Unnamed: 2
0      joy  On days when I feel close to my partner and ot...         NaN
1     fear  Every time I imagine that someone I love or I ...         NaN
2    anger  When I had been obviously unjustly treated and...         NaN
3  sadness  When I think about the short time that we live...         NaN
4  disgust  At a gathering I found myself involuntarily si...         NaN

In [ ]:
df.iloc[4,0]
df['dokumen'].values

array(['On days when I feel close to my partner and other friends.   \nWhen I feel at peace with myself and also experience a close  \ncontact with people whom I regard greatly.',
       'Every time I imagine that someone I love or I could contact a  \nserious illness, even death.',
       'When I had been obviously unjustly treated and had no possibility  \nof elucidating this.',
       ...,
       'I was at home and I heard a loud sound of spitting outside the  \ndoor.  I thought that one of my family members would step on the spit  \nand bring the germs in the house.',
       'I did not do the homework that the teacher had asked us to do.  I  \nwas scolded immediately.',
       'I had shouted at my younger brother and he was always afraid when  \nI called out loudly.'],
      dtype=object)

In [ ]:
df['dokumen']=df['dokumen'].str.lower()
print(df.iloc[4,1])

at a gathering i found myself involuntarily sitting next to two
people who expressed opinions that i considered very low and
discriminating.

In [ ]:
#precleaning hapus enter dan space berlebih
df=df.replace(' \n', ' ', regex=True)
df=df.replace('   ', ' ', regex=True)
df=df.replace('  ', ' ', regex=True)
df.iloc[0,1]

'on days when i feel close to my partner and other friends. when i feel at peace with myself and also experience a close contact with people whom i regard greatly.'

In [ ]:
df['dokumen'] = df['dokumen'].str.replace(r'[^\w\s]+', '')
print(df.iloc[0,1])
print(df.head())

on days when i feel close to my partner and other friends when i feel at peace with myself and also experience a close contact with people whom i regard greatly
     emosi                                            dokumen  Unnamed: 2
0      joy  on days when i feel close to my partner and ot...         NaN
1     fear  every time i imagine that someone i love or i ...         NaN
2    anger  when i had been obviously unjustly treated and...         NaN
3  sadness  when i think about the short time that we live...         NaN
4  disgust  at a gathering i found myself involuntarily si...         NaN

In [ ]:
df.to_csv(r'dataisear preprocesing utama.csv', index = False)
df

        emosi                                            dokumen  Unnamed: 2
0         joy  on days when i feel close to my partner and ot...         NaN
1        fear  every time i imagine that someone i love or i ...         NaN
2       anger  when i had been obviously unjustly treated and...         NaN
3     sadness  when i think about the short time that we live...         NaN
4     disgust  at a gathering i found myself involuntarily si...         NaN
...       ...                                                ...         ...
7511    shame  two years back someone invited me to be the tu...         NaN
7512    shame  i had taken the responsibility to do something...         NaN
7513     fear  i was at home and i heard a loud sound of spit...         NaN
7514    guilt  i did not do the homework that the teacher had...         NaN
7515     fear  i had shouted at my younger brother and he was...         NaN

[7516 rows x 3 columns]

In [ ]:
df.iloc[:,1].to_csv(r'dataisear(dokumen aja).csv', index = False)