<a href="https://colab.research.google.com/github/alfinmaulani/skripsi/blob/master/1_2preptambah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
import numpy as np
import pandas as pd
import io
import os
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

url0='https://raw.githubusercontent.com/alfinmaulani/skripsi/master/dataISEAR.csv'
url1 = 'https://raw.githubusercontent.com/alfinmaulani/skripsi/master/dataisear(preputama).csv'
url2 = 'tba'
df = pd.read_csv(url0)
# df.iloc[:,1]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [118]:
df.emosi.value_counts()

joy        1092
sadness    1082
anger      1079
fear       1076
shame      1071
disgust    1066
guilt      1050
Name: emosi, dtype: int64

In [119]:
sentences = [word_tokenize(x) for x in df.dokumen]

In [120]:
np.shape(sentences)

/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

(7516,)

In [122]:
df.head()

     emosi                                            dokumen
0      joy  On days when I feel close to my partner and ot...
1     fear  Every time I imagine that someone I love or I ...
2    anger  When I had been obviously unjustly treated and...
3  sadness  When I think about the short time that we live...
4  disgust  At a gathering I found myself involuntarily si...

In [123]:
df.dokumen

0       On days when I feel close to my partner and ot...
1       Every time I imagine that someone I love or I ...
2       When I had been obviously unjustly treated and...
3       When I think about the short time that we live...
4       At a gathering I found myself involuntarily si...
                              ...
7511    Two years back someone invited me to be the tu...
7512    I had taken the responsibility to do something...
7513    I was at home and I heard a loud sound of spit...
7514    I did not do the homework that the teacher had...
7515    I had shouted at my younger brother and he was...
Name: dokumen, Length: 7516, dtype: object

lower case

In [124]:
df['dokumen']=df['dokumen'].str.lower()
# print(df.iloc[4,1])

Pembersihan noise (over enter and space)

In [125]:
df=df.replace(' \n', ' ', regex=True)
df=df.replace('   ', ' ', regex=True)
df=df.replace('  ', ' ', regex=True)

expand contractions

In [126]:
!pip install contractions
import contractions

Requirement already satisfied: contractions in /usr/local/lib/python3.7/dist-packages (0.0.55)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.21)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.3.0)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.2)

In [128]:
df[df['dokumen'].str.contains("couldn't")]

        emosi                                            dokumen
124   disgust  when i saw a picture, in the gothenburg post, ...
526     anger  a friend suggested in a round-about way that t...
545      fear  i was rock-climbing and absailing & felt ok, b...
553     anger  getting a terrible exam mark, which i couldn't...
673      fear  after seeing a terror movie at the cinema, i w...
...       ...                                                ...
6589      joy  when my boyfriend came form rumphi to lilongwe...
6592  sadness  i wrote a letter to my boyfriend but he couldn...
6595    guilt  one day i found an incontinent man in the ward...
6624      joy  it was in 1983 september when mce results were...
6647    anger  somebody took my wristwatch and promised to ha...

[61 rows x 2 columns]

In [146]:
expanded_words = []

In [147]:
for word in df.dokumen:
  expanded_words.append(contractions.fix(word))

In [148]:
np.shape(expanded_words)

(7516,)

In [149]:
df.dokumen=expanded_words

In [150]:
df[df['dokumen'].str.contains("couldn't")]

Empty DataFrame
Columns: [emosi, dokumen]
Index: []

In [153]:
df.dokumen[124]

'when i saw a picture, in the gothenburg post, of a totally demolished car with two fatally injured passengers. the car was so badly damaged that they could not get the bodies out at the scene of the accident.'

cleansing

In [154]:
df['dokumen'] = df['dokumen'].str.replace(r'[^\w\s]+', '')

remove stopword

Lemmatization

In [ ]:
df.to_csv(r'dataisear(preptambah).csv', index = False)