<a href="https://colab.research.google.com/github/alfinmaulani/skripsi/blob/master/1_2preptambah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np
import pandas as pd
import io
import os
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

url0='https://raw.githubusercontent.com/alfinmaulani/skripsi/master/dataISEAR.csv'
url1 = 'https://raw.githubusercontent.com/alfinmaulani/skripsi/master/dataisear(preputama).csv'
url2 = 'tba'
df = pd.read_csv(url0)
# df.iloc[:,1]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [17]:
df.emosi.value_counts()

joy        1092
sadness    1082
anger      1079
fear       1076
shame      1071
disgust    1066
guilt      1050
Name: emosi, dtype: int64

In [19]:
df.head()

     emosi                                            dokumen
0      joy  On days when I feel close to my partner and ot...
1     fear  Every time I imagine that someone I love or I ...
2    anger  When I had been obviously unjustly treated and...
3  sadness  When I think about the short time that we live...
4  disgust  At a gathering I found myself involuntarily si...

In [20]:
df.dokumen

0       On days when I feel close to my partner and ot...
1       Every time I imagine that someone I love or I ...
2       When I had been obviously unjustly treated and...
3       When I think about the short time that we live...
4       At a gathering I found myself involuntarily si...
                              ...
7511    Two years back someone invited me to be the tu...
7512    I had taken the responsibility to do something...
7513    I was at home and I heard a loud sound of spit...
7514    I did not do the homework that the teacher had...
7515    I had shouted at my younger brother and he was...
Name: dokumen, Length: 7516, dtype: object

lower case

In [21]:
df['dokumen']=df['dokumen'].str.lower()
# print(df.iloc[4,1])

Pembersihan noise (over enter and space)

In [22]:
df=df.replace(' \n', ' ', regex=True)
df=df.replace('   ', ' ', regex=True)
df=df.replace('  ', ' ', regex=True)

expand contractions

In [23]:
!pip install contractions
import contractions

Collecting contractions
  Downloading contractions-0.0.55-py2.py3-none-any.whl (7.9 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting anyascii
  Downloading anyascii-0.3.0-py3-none-any.whl (284 kB)
     |████████████████████████████████| 284 kB 5.4 MB/s
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.2.tar.gz (321 kB)
     |████████████████████████████████| 321 kB 50.1 MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.2-cp37-cp37m-linux_x86_64.whl size=85443 sha256=b24bcc0e13d2f72ee0c7418c3e5567090cee29ab6440b1f123ef751b130e8ae9
  Stored in directory: /root/.cache/pip/wheels/25/19/a6/8f363d9939162782bb8439d886469756271abc01f76fbd790f
Successfully built pyahocorasick
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.0 contractions-0.0.55 pyahocorasick-1.4.2 textsearch-0.0.21

In [24]:
df[df['dokumen'].str.contains("couldn't")]

        emosi                                            dokumen
124   disgust  when i saw a picture, in the gothenburg post, ...
526     anger  a friend suggested in a round-about way that t...
545      fear  i was rock-climbing and absailing & felt ok, b...
553     anger  getting a terrible exam mark, which i couldn't...
673      fear  after seeing a terror movie at the cinema, i w...
...       ...                                                ...
6589      joy  when my boyfriend came form rumphi to lilongwe...
6592  sadness  i wrote a letter to my boyfriend but he couldn...
6595    guilt  one day i found an incontinent man in the ward...
6624      joy  it was in 1983 september when mce results were...
6647    anger  somebody took my wristwatch and promised to ha...

[61 rows x 2 columns]

In [25]:
expanded_words = []

In [26]:
for word in df.dokumen:
  expanded_words.append(contractions.fix(word))

In [27]:
np.shape(expanded_words)

(7516,)

In [28]:
df.dokumen=expanded_words

In [29]:
df[df['dokumen'].str.contains("couldn't")]

Empty DataFrame
Columns: [emosi, dokumen]
Index: []

In [30]:
df.dokumen[124]

'when i saw a picture, in the gothenburg post, of a totally demolished car with two fatally injured passengers. the car was so badly damaged that they could not get the bodies out at the scene of the accident.'

cleansing

In [31]:
df['dokumen'] = df['dokumen'].str.replace(r'[^\w\s]+', '')

In [32]:
df.shape

(7516, 2)

remove stopword

In [33]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [34]:
pat = r'\b(?:{})\b'.format('|'.join(stop))
df['dokumen'] = df['dokumen'].str.replace(pat, '')
df['dokumen'] = df['dokumen'].str.replace(r'\s+', ' ')

In [35]:
df.head()

     emosi                                            dokumen
0      joy   days feel close partner friends feel peace al...
1     fear  every time imagine someone love could contact ...
2    anger   obviously unjustly treated possibility elucid...
3  sadness   think short time live relate periods life thi...
4  disgust   gathering found involuntarily sitting next tw...

In [36]:
df.dokumen

0        days feel close partner friends feel peace al...
1       every time imagine someone love could contact ...
2        obviously unjustly treated possibility elucid...
3        think short time live relate periods life thi...
4        gathering found involuntarily sitting next tw...
                              ...
7511    two years back someone invited tutor granddaug...
7512     taken responsibility something prepared howev...
7513     home heard loud sound spitting outside door t...
7514        homework teacher asked us scolded immediately
7515     shouted younger brother always afraid called ...
Name: dokumen, Length: 7516, dtype: object

In [37]:
df.shape

(7516, 2)

Lemmatization(harusnya setmmingkarna lematization = tokenize

In [ ]:
from nltk.stem.snowball import SnowballStemmer

# Use English stemmer.
stemmer = SnowballStemmer("english")

In [ ]:
sentences = [word_tokenize(x) for x in df.dokumen]

In [ ]:
df.dokumen=sentences

In [ ]:
temp = df.dokumen.apply(lambda x: [stemmer.stem(y) for y in x])

In [ ]:
temp

0       [day, feel, close, partner, friend, feel, peac...
1       [everi, time, imagin, someon, love, could, con...
2               [obvious, unjust, treat, possibl, elucid]
3       [think, short, time, live, relat, period, life...
4       [gather, found, involuntarili, sit, next, two,...
                              ...
7511    [two, year, back, someon, invit, tutor, grandd...
7512    [taken, respons, someth, prepar, howev, fail, ...
7513    [home, heard, loud, sound, spit, outsid, door,...
7514          [homework, teacher, ask, us, scold, immedi]
7515    [shout, younger, brother, alway, afraid, call,...
Name: dokumen, Length: 7516, dtype: object

In [ ]:
df.dokumen=temp

save df

In [ ]:
df.to_csv(r'dataisear(preptambah).csv', index = False)