<a href="https://colab.research.google.com/github/alfinmaulani/skripsi/blob/master/1preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
import numpy as np
import pandas as pd
import io
import os
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
# pd.set_option('display.max_colwidth', None)

In [101]:
korpus1='https://raw.githubusercontent.com/alfinmaulani/skripsi/master/korpus1dataISEAR.csv'
korpus2='https://raw.githubusercontent.com/alfinmaulani/skripsi/master/korpus2.csv'
df = pd.read_csv(korpus2)

In [104]:
df.isnull().sum()

tweet_id     0
sentiment    0
content      0
dtype: int64

In [103]:
df = df.dropna(how='any',axis=0)

In [ ]:
# df[df['dokumen'].str.contains("i'm")]

In [ ]:
# df.iloc[1502,1]

'eating too much i felt guilty afterwards because i knew i should not have overeaten as I am putting on too much weight.'

In [ ]:
df.emosi.value_counts()

joy        1092
sadness    1082
anger      1079
fear       1076
shame      1071
disgust    1066
guilt      1050
Name: emosi, dtype: int64

In [ ]:
df.sentiment.value_counts()

love         1345
sadness      1342
relief       1328
hate         1323
happiness    1323
worry        1320
neutral      1320
Name: sentiment, dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [124]:
dfg = pd.read_csv('/content/drive/MyDrive/trainingwv-blog.csv')

preputama : lower case

In [80]:
def lower(temp):
  return temp.str.lower()

In [ ]:
df['dokumen']=lower(df['dokumen'])

In [106]:
df['content']=lower(df['content'])

In [125]:
dfg['teks']=lower(dfg['teks'])

In [ ]:
df

        tweet_id  sentiment                                            content
0     1956968477      worry  re-pinging : why didn't you go to prom? bc my ...
1     1956968636      worry                                      hmmm. is down
2     1956969035    sadness                       charlene my love. i miss you
3     1956969172    sadness                    i'm sorry at least it's friday?
4     1956970047    sadness  ugh! i have to beat this stupid song to get to...
...          ...        ...                                                ...
9307  1753905073    neutral  not really just leaving flat now, on the looko...
9308  1753918809  happiness  gave the bikes a thorough wash, degrease it an...
9309  1753918822       love  his snoring is so annoying n it keeps me from ...
9310  1753919001       love                      happy mothers day all my love
9311  1753919049       love  bullet train from tokyo the gf and i have been...

[9301 rows x 3 columns]

preputama : Pembersihan noise (over enter and space)

In [ ]:
def bersih_noise(temp):
  temp=temp.replace(' \n', ' ', regex=True)
  temp=temp.replace('   ', ' ', regex=True)
  return temp.replace('  ', ' ', regex=True)

In [108]:
df=bersih_noise(df)

In [126]:
dfg=bersih_noise(dfg)

In [ ]:
df

        tweet_id  sentiment                                            content
0     1956968477      worry  re-pinging : why didn't you go to prom? bc my ...
1     1956968636      worry                                      hmmm. is down
2     1956969035    sadness                       charlene my love. i miss you
3     1956969172    sadness                    i'm sorry at least it's friday?
4     1956970047    sadness  ugh! i have to beat this stupid song to get to...
...          ...        ...                                                ...
9307  1753905073    neutral  not really just leaving flat now, on the looko...
9308  1753918809  happiness  gave the bikes a thorough wash, degrease it an...
9309  1753918822       love  his snoring is so annoying n it keeps me from ...
9310  1753919001       love                      happy mothers day all my love
9311  1753919049       love  bullet train from tokyo the gf and i have been...

[9312 rows x 3 columns]

preptambah : expand contractions

In [ ]:
!pip install contractions
import contractions
def expand_word(temp):
  expanded_words = []   
  for word in temp:
    expanded_words.append(contractions.fix(word))
  return expanded_words

Collecting contractions
  Downloading contractions-0.1.68-py2.py3-none-any.whl (8.1 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting anyascii
  Downloading anyascii-0.3.1-py3-none-any.whl (287 kB)
     |████████████████████████████████| 287 kB 41.9 MB/s
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 47.2 MB/s
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.1 contractions-0.1.68 pyahocorasick-1.4.4 textsearch-0.0.21

In [ ]:
df.dokumen=expand_word(df.dokumen)

In [110]:
df.content=expand_word(df.content)

In [111]:
dfg.teks=expand_word(dfg.teks)

In [ ]:
df

        emosi                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             dokumen
0         joy                                                                                                                                                                                                                                                                                                                                                                                                                                  on days when i feel close to my partner and other friends. when i feel at peace with myself and also experience a close contact with people whom i regard greatly.
1        fear                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          every time i imagine that someone i love or i could contact a serious illness, even death.
2       anger                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              when i had been obviously unjustly treated and had no possibility of elucidating this.
3     sadness                                                                                                                                                                                                                                                                                                                                                                                                                                                             when i think about the short time that we live and relate it to the periods of my life when i think that i did not use this short time.
4     disgust                                                                                                                                                                                                                                                                                                                                                                                                                                                        at a gathering i found myself involuntarily sitting next to two people who expressed opinions that i considered very low and discriminating.
...       ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
7511    shame  two years back someone invited me to be the tutor of her grand-daughter. the grand-daughter asked me some questions in mathematics so i taught her. however she did not listen to me and this made me feel unhappy. the second year it was the same. when i entered university the girl's parents suggested that i be employed as their daghters tutor. they told me that at university there was no homework and i would have a lot of time so they made a time-table for me which required me to be the tutor five days a week. they did not respect me and anyway i had another child to teach.
7512    shame                                                                                                                                                                                                                                                                                                     i had taken the responsibility to do something and i had prepared for it. however i failed because of my timidity. after three attempts i still could not adapt to the atmosphere and failed as before. i felt imcompetent and felt that the others would think that i had not prepared for it.
7513     fear                                                                                                                                                                                                                                                                                                                                                                                                                               i was at home and i heard a loud sound of spitting outside the door. i thought that one of my family members would step on the spit and bring the germs in the house.
7514    guilt                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           i did not do the homework that the teacher had asked us to do. i was scolded immediately.
7515     fear                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              i had shouted at my younger brother and he was always afraid when i called out loudly.

[7516 rows x 2 columns]

preputama : cleansing punctuation

In [ ]:
def clns_punc(temp):
  return temp.str.replace(r'[^\w\s]+', '')

In [ ]:
df['dokumen'] = clns_punc(df['dokumen'])

In [127]:
df['content'] = clns_punc(df['content'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [128]:
dfg['teks'] = clns_punc(dfg['teks'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
df.content

0       repinging  why didnt you go to prom bc my bf d...
1                                            hmmm is down
2                             charlene my love i miss you
3                            im sorry at least its friday
4       ugh i have to beat this stupid song to get to ...
                              ...
9307    not really just leaving flat now on the lookou...
9308    gave the bikes a thorough wash degrease it and...
9309    his snoring is so annoying n it keeps me from ...
9310                        happy mothers day all my love
9311    bullet train from tokyo the gf and i have been...
Name: content, Length: 9301, dtype: object

preputama : cleansing number

In [ ]:
!pip install tweet-preprocessor
import preprocessor as p
p.set_options(p.OPT.NUMBER)
def clns_numb(temp):
  sementara=[]
  for word in temp:
    sementara.append(p.clean(word))
  return sementara

Requirement already satisfied: tweet-preprocessor in /usr/local/lib/python3.7/dist-packages (0.6.0)

In [ ]:
df.dokumen=clns_numb(df.dokumen)

In [114]:
df.content=clns_numb(df.content)

In [129]:
dfg.teks=clns_numb(dfg.teks)

In [ ]:
df

        tweet_id  sentiment                                            content
0     1956968477      worry  repinging why didnt you go to prom bc my bf di...
1     1956968636      worry                                       hmmm is down
2     1956969035    sadness                        charlene my love i miss you
3     1956969172    sadness                       im sorry at least its friday
4     1956970047    sadness  ugh i have to beat this stupid song to get to ...
...          ...        ...                                                ...
9307  1753905073    neutral  not really just leaving flat now on the lookou...
9308  1753918809  happiness  gave the bikes a thorough wash degrease it and...
9309  1753918822       love  his snoring is so annoying n it keeps me from ...
9310  1753919001       love                      happy mothers day all my love
9311  1753919049       love  bullet train from tokyo the gf and i have been...

[9301 rows x 3 columns]

preptambah : remove stopword

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
pat = r'\b(?:{})\b'.format('|'.join(stop))
def remove_stopw(temp):
  temp=temp.str.replace(pat, '')
  return temp.str.replace(r'\s+', ' ')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
df['dokumen'] = remove_stopw(df['dokumen'])

In [116]:
df['content'] = remove_stopw(df['content'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

In [117]:
dfg['teks'] = remove_stopw(dfg['teks'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

In [ ]:
df

        emosi                                                                                                                                                                                                                                                                                                                                      dokumen
0         joy                                                                                                                                                                                                                                               days feel close partner friends feel peace also experience close contact people regard greatly
1        fear                                                                                                                                                                                                                                                                     every time imagine someone love could contact serious illness even death
2       anger                                                                                                                                                                                                                                                                                          obviously unjustly treated possibility elucidating
3     sadness                                                                                                                                                                                                                                                                               think short time live relate periods life think use short time
4     disgust                                                                                                                                                                                                                                       gathering found involuntarily sitting next two people expressed opinions considered low discriminating
...       ...                                                                                                                                                                                                                                                                                                                                          ...
7511    shame  two years back someone invited tutor granddaughter granddaughter asked questions mathematics taught however listen made feel unhappy second year entered university girls parents suggested employed daghters tutor told university homework would lot time made timetable required tutor five days week respect anyway another child teach
7512    shame                                                                                                                                                                        taken responsibility something prepared however failed timidity three attempts still could adapt atmosphere failed felt imcompetent felt others would think prepared
7513     fear                                                                                                                                                                                                                                     home heard loud sound spitting outside door thought one family members would step spit bring germs house
7514    guilt                                                                                                                                                                                                                                                                                                homework teacher asked us scolded immediately
7515     fear                                                                                                                                                                                                                                                                                          shouted younger brother always afraid called loudly

[7516 rows x 2 columns]

tokenizing

In [ ]:
def token(temp):
  return [word_tokenize(x) for x in temp]

In [ ]:
df.dokumen=token(df.dokumen)

In [118]:
df.content=token(df.content)

In [130]:
dfg.teks=token(dfg.teks)

In [ ]:
df

        tweet_id  sentiment                                            content
0     1956968477      worry  [repinging, why, didnt, you, go, to, prom, bc,...
1     1956968636      worry                                   [hmmm, is, down]
2     1956969035    sadness                 [charlene, my, love, i, miss, you]
3     1956969172    sadness                [im, sorry, at, least, its, friday]
4     1956970047    sadness  [ugh, i, have, to, beat, this, stupid, song, t...
...          ...        ...                                                ...
9307  1753905073    neutral  [not, really, just, leaving, flat, now, on, th...
9308  1753918809  happiness  [gave, the, bikes, a, thorough, wash, degrease...
9309  1753918822       love  [his, snoring, is, so, annoying, n, it, keeps,...
9310  1753919001       love               [happy, mothers, day, all, my, love]
9311  1753919049       love  [bullet, train, from, tokyo, the, gf, and, i, ...

[9301 rows x 3 columns]

preptambah : Lemmatization

In [ ]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")
def lemma(temp):
  return temp.apply(lambda x: [stemmer.stem(y) for y in x])

In [ ]:
df['dokumen']=lemma(df['dokumen'])

In [120]:
df['content']=lemma(df['content'])

In [121]:
dfg['teks']=lemma(dfg['teks'])

In [ ]:
df

        tweet_id  sentiment                                            content
0     1956968477      worry  [repinging, why, didnt, you, go, to, prom, bc,...
1     1956968636      worry                                   [hmmm, is, down]
2     1956969035    sadness                 [charlene, my, love, i, miss, you]
3     1956969172    sadness                [im, sorry, at, least, its, friday]
4     1956970047    sadness  [ugh, i, have, to, beat, this, stupid, song, t...
...          ...        ...                                                ...
9307  1753905073    neutral  [not, really, just, leaving, flat, now, on, th...
9308  1753918809  happiness  [gave, the, bikes, a, thorough, wash, degrease...
9309  1753918822       love  [his, snoring, is, so, annoying, n, it, keeps,...
9310  1753919001       love               [happy, mothers, day, all, my, love]
9311  1753919049       love  [bullet, train, from, tokyo, the, gf, and, i, ...

[9301 rows x 3 columns]

save df

In [122]:
df.to_csv(r'korpus2(preptambah).csv', index = False)

In [131]:
dfg.to_csv(r'trainingwv-blog(preputama).csv', index = False)