<a href="https://colab.research.google.com/github/alfinmaulani/skripsi/blob/master/preproses_twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re
import csv
import numpy as np
import gensim
import pandas as pd
import io
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
import nltk

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/training.1600000.processed.noemoticon.csv',encoding='latin-1')

In [ ]:
df

In [4]:
df.columns=["1","2","3","4","5","tweet"]

In [5]:
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)

In [6]:
df.tweet[1]

'@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'

In [ ]:
df

                                                     tweet
0        is upset that he can't update his Facebook by ...
1        @Kenichan I dived many times for the ball. Man...
2          my whole body feels itchy and like its on fire
3        @nationwideclass no, it's not behaving at all....
4                            @Kwesidei not the whole crew
...                                                    ...
1599994  Just woke up. Having no school is the best fee...
1599995  TheWDB.com - Very cool to hear old Walt interv...
1599996  Are you ready for your MoJo Makeover? Ask me f...
1599997  Happy 38th Birthday to my boo of alll time!!! ...
1599998  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 1 columns]

In [7]:
!pip install tweet-preprocessor
import preprocessor as p

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [10]:
df[df['tweet'].str.contains("com")]

                                                     tweet
35       @cocomix04 ill tell ya the story later  not a ...
42       @JonathanRKnight Awww I soo wish I was there t...
49       Broadband plan 'a massive broken promise' http...
54       @andywana Not sure what they are, only that th...
59       @BatManYNG I miss my ps3, it's out of commissi...
...                                                    ...
1599949  OMG how good is ben and jerrys cookie dough ic...
1599972  http://twitpic.com/7jp4n - OMG! Office Space.....
1599980  Another Commenting Contest! [;: Yay!!!  http:/...
1599984  if ur the lead singer in a band, beware fallin...
1599995  TheWDB.com - Very cool to hear old Walt interv...

[127023 rows x 1 columns]

In [9]:
p.set_options(p.OPT.URL, p.OPT.MENTION,p.OPT.HASHTAG)

In [11]:
sementara=[]
for word in df.tweet:
  sementara.append(p.clean(word))

In [ ]:
df.tweet.shape

(1599999,)

In [13]:
df.tweet=sementara

In [18]:
df[df['tweet'].str.contains("com")]

                                                     tweet
42       Awww I soo wish I was there to see you finally...
54       Not sure what they are, only that they are PoS...
59       I miss my ps3, it's out of commission Wutcha p...
63       I had such a nice day. Too bad the rain comes ...
75       My donkey is sensitive about such comments. Ne...
...                                                    ...
1599846                              You're quite welcome.
1599885        Then we head out again Denmark here we come
1599890  actually my other PSN ID is GUNSnSPEEDO O_o an...
1599949  OMG how good is ben and jerrys cookie dough ic...
1599995  TheWDB.com - Very cool to hear old Walt interv...

[82635 rows x 1 columns]

In [ ]:
df.tweet.shape

(1599999,)

In [20]:
df[df.iloc[:,0].isnull()]

Empty DataFrame
Columns: [tweet]
Index: []

In [21]:
df = df.dropna(how='any',axis=0)

In [22]:
df[df.iloc[:,0].isnull()]

Empty DataFrame
Columns: [tweet]
Index: []

In [23]:
df.to_csv(r'twitter_prosessed.csv', index = False)