<a href="https://colab.research.google.com/github/alfinmaulani/skripsi/blob/master/preproses_twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re
import csv
import numpy as np
import gensim
import pandas as pd
import io
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
import nltk

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/training.1600000.processed.noemoticon.csv',encoding='latin-1')

In [ ]:
df

In [4]:
df.columns=["1","2","3","4","5","tweet"]

In [5]:
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)

In [6]:
df.tweet[1]

'@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'

In [ ]:
df

                                                     tweet
0        is upset that he can't update his Facebook by ...
1        @Kenichan I dived many times for the ball. Man...
2          my whole body feels itchy and like its on fire
3        @nationwideclass no, it's not behaving at all....
4                            @Kwesidei not the whole crew
...                                                    ...
1599994  Just woke up. Having no school is the best fee...
1599995  TheWDB.com - Very cool to hear old Walt interv...
1599996  Are you ready for your MoJo Makeover? Ask me f...
1599997  Happy 38th Birthday to my boo of alll time!!! ...
1599998  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 1 columns]

In [7]:
!pip install tweet-preprocessor
import preprocessor as p

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [8]:
p.set_options(p.OPT.URL, p.OPT.MENTION,p.OPT.HASHTAG)

In [9]:
sementara=[]
for word in df.tweet:
  sementara.append(p.clean(word))

In [ ]:
sementara

In [10]:
df.tweet.shape

(1599999,)

In [11]:
df.tweet=sementara

In [12]:
df.tweet.shape

(1599999,)

In [14]:
df[df.iloc[:,0].isnull()]

Empty DataFrame
Columns: [tweet]
Index: []

In [15]:
df = df.dropna(how='any',axis=0)

In [16]:
df[df.iloc[:,0].isnull()]

Empty DataFrame
Columns: [tweet]
Index: []

In [17]:
df.to_csv(r'twitter_prosessed.csv', index = False)