<a href="https://colab.research.google.com/github/alfinmaulani/skripsi/blob/master/preproses_twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re
import csv
import numpy as np
import gensim
import pandas as pd
import io
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
import nltk

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/MyDrive/training.1600000.processed.noemoticon.csv',encoding='latin-1')

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/alfinmaulani/skripsi/master/tweet_emotions.csv')

In [3]:
df

         tweet_id  ...                                            content
0      1956967341  ...  @tiffanylue i know  i was listenin to bad habi...
1      1956967666  ...  Layin n bed with a headache  ughhhh...waitin o...
2      1956967696  ...                Funeral ceremony...gloomy friday...
3      1956967789  ...               wants to hang out with friends SOON!
4      1956968416  ...  @dannycastillo We want to trade with someone w...
...           ...  ...                                                ...
39995  1753918954  ...                                   @JohnLloydTaylor
39996  1753919001  ...                     Happy Mothers Day  All my love
39997  1753919005  ...  Happy Mother's Day to all the mommies out ther...
39998  1753919043  ...  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999  1753919049  ...  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 3 columns]

In [ ]:
df.columns=["1","2","3","4","5","tweet"]

In [4]:
df.drop(df.columns[0],axis=1, inplace=True)
df.drop(df.columns[0],axis=1, inplace=True)
# df.drop(df.columns[0],axis=1, inplace=True)
# df.drop(df.columns[0],axis=1, inplace=True)
# df.drop(df.columns[0],axis=1, inplace=True)

In [5]:
df

                                                 content
0      @tiffanylue i know  i was listenin to bad habi...
1      Layin n bed with a headache  ughhhh...waitin o...
2                    Funeral ceremony...gloomy friday...
3                   wants to hang out with friends SOON!
4      @dannycastillo We want to trade with someone w...
...                                                  ...
39995                                   @JohnLloydTaylor
39996                     Happy Mothers Day  All my love
39997  Happy Mother's Day to all the mommies out ther...
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 1 columns]

In [ ]:
df.tweet[1]

In [ ]:
df.iloc[124163,0]

"@paulanicole you're so right  ok I'll turn them on, but only if you @replyz me every day."

In [7]:
!pip install tweet-preprocessor
import preprocessor as p

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [ ]:
df[df['tweet'].str.contains("com")]

                                                     tweet
35       @cocomix04 ill tell ya the story later  not a ...
42       @JonathanRKnight Awww I soo wish I was there t...
49       Broadband plan 'a massive broken promise' http...
54       @andywana Not sure what they are, only that th...
59       @BatManYNG I miss my ps3, it's out of commissi...
...                                                    ...
1599949  OMG how good is ben and jerrys cookie dough ic...
1599972  http://twitpic.com/7jp4n - OMG! Office Space.....
1599980  Another Commenting Contest! [;: Yay!!!  http:/...
1599984  if ur the lead singer in a band, beware fallin...
1599995  TheWDB.com - Very cool to hear old Walt interv...

[127023 rows x 1 columns]

In [8]:
p.set_options(p.OPT.URL, p.OPT.MENTION,p.OPT.HASHTAG)

In [10]:
sementara=[]
for word in df.content:
  sementara.append(p.clean(word))

In [ ]:
df.tweet.shape

(1599999,)

In [12]:
df.content=sementara

In [13]:
df

                                                 content
0      i know i was listenin to bad habit earlier and...
1      Layin n bed with a headache ughhhh...waitin on...
2                    Funeral ceremony...gloomy friday...
3                   wants to hang out with friends SOON!
4      We want to trade with someone who has Houston ...
...                                                  ...
39995
39996                      Happy Mothers Day All my love
39997  Happy Mother's Day to all the mommies out ther...
39998  WASSUP BEAUTIFUL!!! FOLLOW ME!! PEEP OUT MY NE...
39999  bullet train from tokyo the gf and i have been...

[40000 rows x 1 columns]

In [ ]:
df.iloc[124163,0]

"you're so right ok I'll turn them on, but only if you me every day."

In [ ]:
df[df['tweet'].str.contains("com")]

                                                     tweet
42       Awww I soo wish I was there to see you finally...
54       Not sure what they are, only that they are PoS...
59       I miss my ps3, it's out of commission Wutcha p...
63       I had such a nice day. Too bad the rain comes ...
75       My donkey is sensitive about such comments. Ne...
...                                                    ...
1599846                              You're quite welcome.
1599885        Then we head out again Denmark here we come
1599890  actually my other PSN ID is GUNSnSPEEDO O_o an...
1599949  OMG how good is ben and jerrys cookie dough ic...
1599995  TheWDB.com - Very cool to hear old Walt interv...

[82635 rows x 1 columns]

In [ ]:
df.tweet.shape

(1599999,)

In [ ]:
df[df.iloc[:,0].isnull()]

Empty DataFrame
Columns: [tweet]
Index: []

In [ ]:
df = df.dropna(how='any',axis=0)

In [ ]:
df[df.iloc[:,0].isnull()]

Empty DataFrame
Columns: [tweet]
Index: []

In [14]:
df.to_csv(r'twitter_prosessed2.csv', index = False)